<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <!--==============手机端适应============-->
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <!--===================================-->
  <meta name="description" content="">
  <meta name="author" content="">
  <!--==============强制双核浏览器使用谷歌内核============-->
  <meta name="renderer" content="webkit">
  <meta name="force-rendering" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
  <title>vue-manage-system</title>
  <script type="module" crossorigin src="./assets/index.28f840c3.js"></script>
  <link rel="modulepreload" href="./assets/_@vue.73c7d285.js">
  <link rel="modulepreload" href="./assets/__vendor.467a6c12.js">
  <link rel="modulepreload" href="./assets/_@element-plus.8770ec28.js">
  <link rel="modulepreload" href="./assets/_element-plus.3a35db37.js">
  <link rel="stylesheet" href="./assets/_element-plus.c582fe30.css">
  <link rel="stylesheet" href="./assets/index.8b8ee684.css">
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app">
    <router-view></router-view>
  </div>
  
  <!-- built files will be auto injected -->
</body>

</html>